/* 2020/08/21 build */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* ios 禁止高亮 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: none;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei" ,华文细黑, STHeiti, MingLiu, Arial, sans-serif;
    font-size: 0;
    line-height: 0;
    background: #bfa378;
}

body, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, form, input, textarea, select, button, table, th, td, tr, dl, dd {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/*html5*/
header, footer, nav, section, aside, figure, article {
    display: block;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    background: transparent;
}

a:active, a:hover {
    outline: 0;
}

b, strong {
    font-weight: bolder;
}

i, em {
    font-style: normal;
}

small {
    font-size: 80%;
}

button, input, optgroup, select, textarea, video {
    outline: none;
}

button, select {
    text-transform: none;
    -webkit-appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

[hidden] {
    display: none;
}

i {
    display: inline-block;
}
