<style lang="scss" scoped src="@/assets/css/index.scss"></style>

<template>
	<div class="page-index abs full-w full-h">
		<div class="wrapper abs full-w full-h">
        	<!-- bg -->
        	<img class="bg full-w" src="@/assets/img/bg.jpg" />
        	<!-- logo -->
        	<img class="logo abs" src="@/assets/img/logo.jpg" />
        	<!-- text1 -->
        	<img class="text1 abs full-w left" src="@/assets/img/text1.png" />
			<!-- text2 -->
        	<img class="text2 abs full-w left" src="@/assets/img/text2.png" />
        	<!-- text3 -->
        	<img class="text3 abs full-w left" src="@/assets/img/text3.png" />
		</div>
	</div>
</template>

<script src="@/assets/js/index.js"></script>