<style lang="scss" src="@/assets/css/base.scss"></style>
<style lang="scss" src="@/assets/css/common.scss"></style>

<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
import { wxshare } from '@/apis/wxshare';
export default {
    name: 'App',
    mounted() {
        wxshare();
    }
};
</script>
